body {
    background: #000000;
      color: #000000;}
h1 {
  color: white;
}

p {
  color: white;


}

.undrcon {
  padding: 0;
  margin: 0;
  height: 100%;
  display:block;
  width: 670px;
  top: 505;
  left: 50%;
  transform:translate(-50,-50);
  overflow:hidden;



}

.undrcon-w {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height:100% ;
}


.undrcon-w span {
  display: inline-block;
  padding-left: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  -webkit-text-stroke: 1px #ffffff;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height:  140px ;
  animation:undrcon-w 10s linear infinite;
}



@keyframes undrcon-w {
  0% {
    transform: translate (0,0);

  }
  100% {
    transform: translate(-100,0)
  }
}

.gallery23{
  display: inline-block;
  border: 1px solid grey
  margin = 5px;


}

.gallery23 img{
width: 100px;
height:auto;
}